<!DOCTYPE html>
<html>
<head>

    <base href="~/" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/dist/favicon.ico" />

</head>
<body>
    <div id="root">
        <script src="~/dist/main.js" asp-append-version="true"></script>
    </div>
</body>
</html>